

    <!-- Header -->
    <header style="height: 100%;width: 100%;margin: auto;">
      <div class="container" id="home" style="width: 100%">

            <carousel>
  <slide>
    <img src="assets/images/nature/1.jpg" alt="First slide" style="height:700px;width: 100%; margin:0 auto; filter: blur(3px) brightness(70%);">
    <div class="carousel-caption">
      <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Project Management Application!</div>
                <div class="intro-heading">Let's bring your ideas into reality</div>
                <a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" [pageScrollInterruptible]="false" href="#home" class="page-scroll btn btn-xl">Get Started</a>
            </div>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/2.png" alt="Second slide" style="height:700px;width: 100%; margin:0 auto; filter: blur(3px) brightness(70%);">
    <div class="carousel-caption">
      <div class="intro-text">
                <div class="intro-lead-in">Share your ideas with the world</div>
                <div class="intro-heading">View what other minds have inside them...</div>
                <a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" [pageScrollInterruptible]="false" href="#ideas" class="page-scroll btn btn-xl">See Ideas</a>
            </div>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/3.png" alt="Third slide" style="height:700px;width: 100%; margin:0 auto; filter: blur(3px) brightness(70%);">
    <div class="carousel-caption">
      <div class="intro-text">
                <div class="intro-lead-in">Know what the world is working on !!</div>
                <div class="intro-heading">Discover others ideas coming to reality</div>
                <a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" [pageScrollInterruptible]="false" href="#ongoing" class="page-scroll btn btn-xl">On Going Projects</a>
            </div>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/4.png" alt="Fourth slide" style="height:700px;width: 100%; margin:0 auto; filter: blur(3px) brightness(70%);">
    <div class="carousel-caption">
      <div class="intro-text">
                <div class="intro-lead-in">Want to get working on your Project ?</div>
                <div class="intro-heading">Go on and create your first project</div>
                <a pageScroll [pageScrollOffset]="0" [pageScrollDuration]="1000" [pageScrollEasing]="myEasing" [pageScrollInterruptible]="false" href="#myprojects" class="page-scroll btn btn-xl">My Projects</a>
            </div>
    </div>
  </slide>
</carousel>
        </div>
    </header>

    