<style>
.ul{
  display: inline-block;
}
.div{
  display:inline-block;
}

.card-overlay {
	background-color: rgba(200, 200, 200, 0.3);
  border-radius: 10px; 
     padding: 10px; 
    margin: 10px;
    width: 350px;
    height: 430px; 
    font-family: Times New Roman;
    padding: 3%;
}
.teal-text{
    color: white;
}
.card-block{
    color: white;
    
}
  .row{
    max-width: 75rem;
      flex-flow: row wrap;
      
  }
.description { width: 150px; height: 80px; border: 1px solid #999999; padding: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
 }
.name{
width: 150px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}
.email{
width: 150px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}
.project_name{
width: 150px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.skills{
width: 150px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.close {
	background: black;
	color: white;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover { background: yellow; }

.modal-dialog{
  margin-top:150px;
  width: 40%;
  height: 40%;
  border-radius:10px; 
}
.modal-header{
  background-color: lightslategray;
   text-align: center;
}
.modal-title{
  font-size:20px;
   font-family:Montserrat,Helvetica Neue, Helvetica, Arial, sans-serif; 
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}


</style>



<div class="container" id="myprojects" style="width: 100%">
    
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="margin-top:120px">My Projects</h2>
                </div>

<button class="btn btn-primary " (click)="lgModal.show();" style="margin-bottom:20px;width:150px;height:40px;" >Console</button>

<div bsModal #lgModal="bs-modal" class="modal fade modalDialog"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div> <a (click)="lgModal.hide()" title="Close" class="close">X</a></div>
      <div class="modal-header">
        <h4 class="modal-title">Your Projects</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <li *ngFor="let idea of ideas"  style="margin-left:20%;">
           <p style="display: inline-block;" [routerLink]="['/console', idea.project_name]" >{{idea.project_name}}</p>
       </li>
       <div style="text-align: center;" > <button  class="w3-btn w3-round-large w3-yellow" (click)="lgModal.hide()"style="width:200px;">Close</button></div>
     </div>
    </div>
  </div>    
</div>

</div>
            
    <div class="scrollmenu" style="height:480px;background-size: cover;background-image:  url(https://mdbootstrap.com/img/Photos/Exposure/Dark/courses.jpg);" >

    <div class="row" style="display:inline-block;">

    <!--Content-->
    
        <div class="white-text text-center card-overlay" *ngFor="let idea of ideas"style="display:inline-block;" >
          
            <h5 class="teal-text" style="margin-bottom:25px;margin-top:25px;"><i class="fa fa-pie-chart"></i> {{idea.skills}}</h5>
            <div style="color:burlywood;margin-bottom:25px;margin-top:25px;"><h3>{{idea.project_name}}</h3>
            <p style="margin-bottom:25px;margin-top:25px;">{{idea.description}}</p>
            <p style="margin-bottom:25px;margin-top:25px;">Leader : {{idea.name}}</p></div>
            <a class="btn btn-lg btn-white-outline" (click)="lgModal.show();getProject(idea.project_name);" style="margin-bottom:25px;margin-top:25px;" > Ping List</a>
            <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">List Of Interested Users</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <li *ngFor="let obj of objectArray">
           <p style="display: inline-block;">{{obj.name}}   Email : {{obj.email}}  </p>

<input type="checkbox"  
    (change)="expression && expression[obj.name]=$event.target.checked ? true : undefined; oncheck(obj.name)"
    [ngModel]="expression && expression[obj.name]">

</li>     <div>
              <button  class="w3-btn w3-round-large w3-yellow" (click)="addMembers(idea.project_name);lgModal.hide()">Start Project</button>
              <button  class="w3-btn w3-round-large w3-yellow" (click)="lgModal.hide()"style="width:200px">Close</button></div>
</div>
</div>
        </div>
    
</div>
    </div>
    
  
    </div>

    
</div>
</div>
    

    